// NUANCIER VERT

$colorGreen:  rgb(28, 148, 38);
$colorGreen2:rgb(21, 100, 28);
$colorGreenLight: rgb(178, 212, 177);
$colorGreenWhite: rgb(253, 253, 253);
$colorGreenBorder: rgb(100, 133, 58);
$colorGreenBoxshadow: rgba(150, 228, 134, 0.63);
$colorBorderTable: rgb(29, 99, 9);


// BOUTON FOND TRANSPARENT

$colorButton: rgba(73, 45, 9, 0);